#about {
    color: #282a30;
    min-height: 90vh;
    h2 {
        margin-left: 5%;
        margin-bottom: 10rem;
    }
    .about-container {
        display: flex;
        flex-direction: column;
        gap:10rem;
        margin: 0 5%;
        .person {
            display: flex;
            flex-direction: row;
            gap:10rem;
            .about-pic {
                flex:1;
                img {
                    width: 100%;
                }
            }
            p {
                flex: 2;
            }
        }
        
    }
}